<!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
</head>
<body>
  <h1>Список заказов</h1>
  <ul>
    <% repo.forEach(order => { %>
      <li>
        <strong>Номер:</strong> <%= order.number %><br>
        <strong>Дата:</strong> <%= order.date %><br>
        <strong>Устройство:</strong> <%= order.device %><br>
        <strong>Тип проблемы:</strong> <%= order.problemType %><br>
        <strong>Описание:</strong> <%= order.description %><br>
        <strong>Клиент:</strong> <%= order.client %><br>
        <strong>Статус:</strong> <%= order.status %><br>
        <strong>Сотрудник:</strong> <%= order.employee %><br>
        <a href="/orders/<%= order.number %>/update">Обновить заявку</a>
      </li>
      <hr>
    <% }); %>
  </ul>
  <a href="/ord/new">Создать новый заказ</a>
</body>
</html>