<h1>Обновление заявки № <%= order.number %></h1>
<form id="updateForm" method="POST" action="/orders/<%= order.number %>">
  <label for="description">Описание:</label>
  <textarea id="description" name="description"><%= order.description %></textarea><br>
  <label for="status">Статус:</label>
  <select id="status" name="status">
    <option value="в ожидании" <%= order.status === 'в ожидании' ? 'selected' : '' %>>в ожидании</option>
    <option value="в работе" <%= order.status === 'в работе' ? 'selected' : '' %>>в работе</option>
    <option value="выполнено" <%= order.status === 'выполнено' ? 'selected' : '' %>>выполнено</option>
  </select><br>
  <label for="employee">Сотрудник:</label>
  <input type="text" id="employee" name="employee" value="<%= order.employee %>"><br>
  <label for="comment">Комментарий:</label>
  <input type="text" id="comment" name="comment" value="<%= order.comment %>"><br>
  <button type="submit">Обновить заявку</button><br>
</form>

<a href="/ord/new">Создать новый заказ</a><br>
<a href="/orders">К списку заявок</a><br>

<script>
  document.getElementById('updateForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const form = this;
    const formData = new FormData(form); // Use FormData for better data handling
    const data = {};
    formData.forEach((value, key) => data[key] = value);

    fetch(form.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (!response.ok) {
       
        return response.json().then(errorData => {
          throw new Error(errorData.error || response.statusText);
        });
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        if (data.status === 'выполнено') {
          alert(`Заявка №${data.orderNumber} выполнена!`);
        } else if (data.statusChange) {
          alert(`Статус заявки №${data.orderNumber} обновлен!`);
        } else {
          alert('Заявка обновлена, но статус не изменен.');
        }
      } else {
          
          alert('Ошибка обновления заявки: ' + data.error);
      }
    })
    .catch(error => {
      console.error('Ошибка:', error);
      alert(`Произошла ошибка при обновлении заявки: ${error.message}`);
    });
  });
</script>